body {
    background-image: url("../img/background.jpeg");
    background-size: cover;
    background-position: top;
    
    min-height: 100vh; /* Garante que o elemento ocupe toda a altura da tela */

}
/*cor da fonte etc*/
body h1{
    color: aliceblue;
    font-size: 30px;
}
body h2{
    color: aliceblue;
    font-size: 30px;
}
body p{
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
}

/*cabeçalho*/
header{
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    height: 65px;
    background-color: rgba(0, 0, 0, 0.5);
} 

header nav{
    margin-right: 15px;

} 
header button{
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} span {
    background-color: #333;
    height: 4px;           
    margin-bottom: 3px;
    border-radius: 2px;     
}

header img{
    
    margin-left: 15px;
    height: 20px;
    width: auto;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40rem;

}

main .descrição{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .botao{
    height: 80px;
    width: 250px;
    border-radius: 20px;
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 70px;
    background-image: url("../img/start.gif");
    background-size: cover;
    background-position: -125px;
    background-size: 500px;

}

.descrição img{
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border: solid;
}


.imagens{
        display:none;
}

@media (min-width: 700px ){
    body {
    background-image: url("../img/destnyahhh.jpeg");
    }

    .imagens{
    display: flex;
    flex-direction: row;
    }

    
}
