

/*corpo da pagina*/

body{
    background-color:  hsl(34, 25%, 70%);;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    
}

.cabeçalho{
    position:relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 20;

    height: 200px;
    width: 100% ;
}

.corpo{
    position:relative;
    top: 50px;
    
    height: auto;
    width: 100%;
    border: solid;

    display: flex;
    flex-wrap: wrap; /*pode quebrar os elementos para a proxima linha*/
    justify-content: center;   /* alinha no eixo principal (horizontal) */   
    

    background-color: hsl(34, 57%, 70%);
    box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    
}

.rodape{
    position:fixed; 
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 70px;
    width: 100% ;
    margin-top: 10px;

    background-color: rgba(245, 245, 220, 0.651);

    font-size: 30px;
    
}p{
    color: rgb(32, 31, 31);
}

/*main*/
p {
  text-indent: 50px;
}

.corpo div{
    height: auto;
    width: 350px;
    text-overflow: initial;
    padding: 25px;
    margin: 50px;
    border: solid;
    box-shadow: 28px 12px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    background-color: hsl(34, 57%, 40%);
    
}

.corpo img{
    height: 200px; 
    width: 200px; 
    margin: 10px;
}