

/*corpo da pagina*/

body{
    background-color:  hsl(34, 25%, 70%);;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    
}

.cabeçalho{
    position:fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 20;

    height: 200px;
    width: 100% ;
    margin-bottom: 100px;
}

.corpo{
    position:relative;
    top: 200px;
    
    height: 500px;
    width: 100%;
    border: solid;

    display: flex;
    justify-content: center;   /* alinha no eixo principal (horizontal) */   

    background-color: hsl(34, 57%, 70%);
    box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    
}

.rodape{
    position:fixed; 
    bottom: 1px;
    
    height: 100px;
    width: 100% ;
    margin-top: 10px;
}

/*main*/
p {
  text-indent: 50px;
}

.corpo div{
    height: 350px;
    width: 350px;
    text-overflow: initial;
    margin: 50px;
    border: solid;
    box-shadow: 28px 12px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    background-color: hsl(34, 57%, 40%);
    
}

.corpo img{
    height: 200px; 
    width: 200px; 
    margin: 10px;
}